APP_NAME=Revenue Recovery Strategy Optimizer
APP_ENVIRONMENT=development
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
DATABASE_NAME=revenue_recovery
DATABASE_USER=revenue_recovery
DATABASE_PASSWORD=local_development_password
